<div>
Тебя приветствует команда Jooby.dev!
Мы хотим немного рассказать о себе.
Нашей основной целью является доставка вакансий без Вашего трекинга.
Мы создали экосистему чатов и каналов в телеграмме.
Постим понравившиеся нам вакансии в каналах телеграмм.
Основную информацию выносим на сайт.
С пристрастием прочитываем тексты вакансий.
Делаем обратную связь по вакансии в чате.
Не пропускаем вакансии без зарплатных вилок.
</div>
