<%= render partial: 'employers/menu' %>

<div style="text-align:center;">
<h1>Вакансии для IT инженеров</h1>

<% if employer_signed_in? %>
Logged in as <strong><%= current_employer.email %></strong>.
<p>
<div>
</div>
<% end %>
<p>
<div class="row buffer-bottom">
  <%= render partial: 'jobs/job', collection: @jobs %>
</div>


</div>
