<%= render partial: 'jobs/header' %>


<div align='center'>
<h1>Вакансии для IT инженеров</h1>

<div class="buffer-both">
  <%= link_to 'Создать вакансию', new_job_path, class: 'btn btn-warning .btn-lg' %>
</div>
<p>
<div class="row buffer-bottom">
  <%= render partial: 'jobs/job', collection: @jobs %>
</div>

</div>
